<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.aby.docm.core.account.UserMapper">
    <resultMap id="UserEntity" type="indi.aby.docm.core.account.UserEntity"
               extends="indi.rui.common.web.dao.IMapper.AbstractData">
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="activate" property="activate"/>
        <result column="frozen" property="frozen"/>
        <association column="dept_id" property="dept" javaType="indi.aby.docm.api.account.DeptVO" resultMap="DeptVO"/>
        <collection notNullColumn="permission_id" property="permissions"
                    ofType="indi.aby.docm.api.permission.PermissionVO" resultMap="PermissionVO"/>
    </resultMap>
    <resultMap id="DeptVO" type="indi.aby.docm.api.account.DeptVO">
        <result column="dept_id" property="id"/>
        <result column="dept_name" property="name"/>
    </resultMap>
    <resultMap id="PermissionEntity" type="indi.aby.docm.core.permission.PermissionEntity"
               extends="indi.rui.common.web.dao.IMapper.AbstractData">
        <result column="module" property="module"/>
        <result column="desc" property="desc"/>
    </resultMap>
    <resultMap id="PermissionVO" type="indi.aby.docm.api.permission.PermissionVO"
               extends="indi.rui.common.web.dao.IMapper.AbstractData">
        <id column="permission_id" property="id"/>
        <result column="permission_name" property="name"/>
        <result column="module" property="module"/>
        <result column="desc" property="desc"/>
    </resultMap>

    <insert id="add">
        insert into t_account(id, name, username, password, phone, email, dept_id, activate)
        values (#{id}, #{name}, #{username}, #{password}, #{phone}, #{email}, #{dept.id}, #{activate})
    </insert>
    <insert id="addCorrelatedPermission">
        insert into t_account_correlate_permission(account_id, permission_id) values
        <foreach collection="permissions" item="perm" separator=",">
            (#{id}, #{perm.id})
        </foreach>
    </insert>
    <update id="update">
        update t_account
        <set>
            <if test="username != null || nullAbles.username">
                username = #{username},
            </if>
            <if test="password != null || nullAbles.password">
                password = #{password},
            </if>
            <if test="phone != null || nullAbles.phone">
                phone = #{phone},
            </if>
            <if test="email != null || nullAbles.email">
                email = #{email},
            </if>
            <choose>
                <when test="nullAbles.dept">
                    <choose>
                        <when test="dept != null">
                            dept_id = #{dept.id},
                        </when>
                        <otherwise>
                            dept_id = null,
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <if test="dept != null and dept.id != null">
                        dept_id = #{dept.id},
                    </if>
                </otherwise>
            </choose>
            <if test="activate != null || nullAbles.activate">
                activate = #{activate},
            </if>
            <if test="frozen != null || nullAbles.frozen">
                frozen = #{frozen},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from t_account where id = #{id}
    </delete>
    <delete id="deleteCorrelatedPermission">
        delete from t_account_correlate_permission where account_id = #{id}
    </delete>
    <select id="findTotalNum" resultType="java.lang.Integer">
        select count(a.id)
        from t_account a
        left join t_dept d on a.dept_id = d.id
        where a.state = '1' and a.isBuiltIn = b'0'
        <if test="conditions.keywords != null and conditions.keywords.size > 0">
            and(
            <foreach collection="conditions.keywords" open="(" close=")" item="keyword" separator="and">
                a.username like '%${keyword}%'
            </foreach>
            ||
            <foreach collection="conditions.keywords" open="(" close=")" item="keyword" separator="and">
                a.phone like '%${keyword}%'
            </foreach>
            ||
            <foreach collection="conditions.keywords" open="(" close=")" item="keyword" separator="and">
                a.email like '%${keyword}%'
            </foreach>
            )
        </if>
        <if test="conditions.keywordUsername != null">
            and a.username like '%${conditions.keywordUsername}%'
        </if>
        <if test="conditions.activate != null">
            and a.activate = #{conditions.activate}
        </if>
        <if test="conditions.dept != null and conditions.dept.id != null">
            and a.dept_id = #{conditions.dept.id}
        </if>
    </select>
    <select id="findAll" resultMap="UserEntity">
        select *, d.name dept_name, null permission_id
        from t_account a
        left join t_dept d on a.dept_id = d.id
        where a.state = '1' and a.isBuiltIn = b'0'
        <if test="conditions.keywords != null and conditions.keywords.size > 0">
            and(
            <foreach collection="conditions.keywords" open="(" close=")" item="keyword" separator="and">
                a.username like '%${keyword}%'
            </foreach>
            ||
            <foreach collection="conditions.keywords" open="(" close=")" item="keyword" separator="and">
                a.phone like '%${keyword}%'
            </foreach>
            ||
            <foreach collection="conditions.keywords" open="(" close=")" item="keyword" separator="and">
                a.email like '%${keyword}%'
            </foreach>
            )
        </if>
        <if test="conditions.keywordUsername != null">
            and a.username like '%${conditions.keywordUsername}%'
        </if>
        <if test="conditions.activate != null">
            and a.activate = #{conditions.activate}
        </if>
        <if test="conditions.dept != null and conditions.dept.id != null">
            and a.dept_id = #{conditions.dept.id}
        </if>
        order by
        <choose>
            <when test="sorters.size > 0">
                <foreach collection="sorters.entrySet()" index="key" item="value" separator=",">
                    a.${key} ${value}
                </foreach>
            </when>
            <otherwise>
                a.create_time desc
            </otherwise>
        </choose>
        limit #{offset}, #{pageSize}
    </select>
    <select id="findById" resultMap="UserEntity">
        select account.*, dept.name dept_name, acp.permission_id, perm.name permission_name, perm.module, perm.desc
        from t_account account
        left join t_dept dept on account.dept_id = dept.id
        left join t_account_correlate_permission acp on account.id = acp.account_id
        left join t_permission perm on acp.permission_id = perm.id
        where account.id = #{id}
    </select>
    <select id="findByUsername" resultMap="UserEntity">
        select account.*, acp.permission_id, perm.name permission_name, perm.module, perm.desc
        from t_account account
        left join t_account_correlate_permission acp on account.id = acp.account_id
        left join t_permission perm on acp.permission_id = perm.id
        where username = #{username}
    </select>
    <select id="findCorrelatedPermission" resultMap="PermissionEntity">
        select perm.*
        from t_permission perm inner join t_account_correlate_permission correlate on perm.id =
        correlate.permission_id where correlate.account_id = #{id}
    </select>
</mapper>